 h1 { background-image: url("image14.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: azure;
    color: white;
    text-align: center;
    padding: 100px;
}
nav {
    background-color: #333;
}
h2 { background-image: url("image10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: azure;
    color: brown;
    text-align: center;
    padding: 100px;
}
nav {
    background-color: #333;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

main { background-color: lemonchiffon;
    padding: 20px;
}

